Unity.Postprocessing.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.Player.csproj filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.ForUI.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
Unity.EditorCoroutines.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VSCode.Editor.csproj filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.ForUI.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.TestFramework.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Postprocessing.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualStudio.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.AI.Navigation.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.TestFramework.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Performance.Profile-Analyzer.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.XR.LegacyInputHelpers.csproj filter=lfs diff=lfs merge=lfs -text
Unity.AI.Navigation.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.csproj filter=lfs diff=lfs merge=lfs -text
UserSettings filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
Unity.2D.Tilemap.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.UI.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.XR.LegacyInputHelpers.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.CollabProxy.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Second.sln filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.SettingsProvider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.XR.LegacyInputHelpers.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.SpatialTracking.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.Sprite.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Shared.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.SpatialTracking.csproj filter=lfs diff=lfs merge=lfs -text
Unity.AI.Navigation.Updater.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Postprocessing.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Settings.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.SpatialTracking.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.csproj filter=lfs diff=lfs merge=lfs -text
Unity.AI.Navigation.Editor.ConversionSystem.csproj filter=lfs diff=lfs merge=lfs -text
Unity.AI.Navigation.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.csproj filter=lfs diff=lfs merge=lfs -text
Unity.PlasticSCM.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.csproj filter=lfs diff=lfs merge=lfs -text
